<div class="panel panel-primary">
  <div class="panel-heading"><%= @profile.name %></div>
  <h1>TEST</h1>
  <div class="panel-body">

    <p><%= profile.full_name %></p>

  </div>

</div>

<%= link_to "Back", events_path, class: "btn btn-default" %>
