<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Welcome To Codaisseurup!</div>
      <div class="intro-heading">It's Nice To Meet You</div>
      <a class="btn btn-xl js-scroll-trigger" href="#services">Sign Up</a>
      <a class="btn btn-xl js-scroll-trigger" href="#services">Sign In</a>
    </div>
  </div>
</header>

<ul class="article-list-basic">
  <h1>Upcoming Events</h1>
  <% @events.each do |event| %>
  <li>
    <div>
      <h2><%= event.name %> </h2>
      <p><%= event.description %></p>
      <%= link_to "View", event, class: "btn btn-default" %>
    </div>
  </li>
  <% end %>
</ul>
